div {
    border: 5px solid #2b6777;
    background-color: #c8d8e4;

}

img {
    width: 200px;
    margin: 6px;
    border: 5px solid #9A1750;


}

.navBar {
    display: flex;
    justify-content: space-between;
    max-height: 120px;
    border: 3px solid #52ab98;

}

.aboutMe {
    display: flex;
    flex-direction: column;
}

.posts {
    display: flex;
    flex-direction: column;
}

h1 {
    color: #4682b4;
    font-family: 'Italianno', cursive;
    text-align: center;
    font-size: 40px;

}

h2 {
    color: #b3446c;
    font-family: 'Italianno', cursive;
    text-align: center;
    font-size: 40px;
}

.friendsList {
	display: flex;
    flex-direction: column;
}

.sections {
    display: flex;
    justify-content: space-between;
}

.kate {
	height: 300px;
    width: 240px;
}
.hana {
	height: 300px;
    width: 340px;
}

p {
	font-size: 14px;
        font-family: 'Italianno', cursive;
    
}
.link{
    color: #db7093;
    }
a:hover {
  color: #db7093
;
    }